.about-me-content {
    display: flex;
  }
  
  .about-me-content img {
    width: 320px;
    height: 320px;
    margin-left: 60px;
    margin-right: 60px;
    animation: float 2s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
  }
  
  .about-me-content p {
    color: #0f0f0f;
    font-weight: 400;
    line-height: 1.6rem;
    font-size: 1.15rem;
    max-width: 800px;
    text-align: justify;
  }
  
  @media (max-width: 1024px) {
    .about-me-content {
      flex-direction: column;
      margin: auto;
    }
  
    .about-me-content img {
      width: 250px;
      height: 250px;
      margin: auto;
    }
  
    .about-me-content p {
      line-height: 1.4rem;
      font-size: 0.875rem;
      text-align: center;
      margin-top: 20px;
      text-align: justify;
      margin-left: 30px;
    }
  
  @media (max-width: 768px) {
   .about-me-content {
      flex-direction: column;
    }
  
    .about-me-content img {
      width: 250px;
      height: 250px;
      margin: auto;
    }
  
    .about-me-content p {
      line-height: 1.4rem;
      font-size: 0.875rem;
      text-align: center;
      margin-top: 20px;
      text-align: justify;
      margin-left: 0;
    }
}
  