.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #653fff;
}

/* Estilo dos campos de entrada */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Hover e focus */
.input-field:hover,
.input-field:focus {
  outline: 0.5px solid #021595;
  box-shadow: 0 0 5px rgba(135, 206, 250, 0.5);
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.mensagem {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .fixed-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fixed-header > ul {
    display: none;
  }

  .fixed-header .logo img {
    margin-left: 0;
  }
  .showcase-container {
    display: flex;
    flex-direction: column;
  }
  .showcase-container-box > h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .showcase-container p {
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
    margin-top: 40px;
  }

  .whatsapp-button {
    display: none;
    /* bottom: 10px;
    right: 10px;
    width: 48px;
    height: 48px; */
  }

  .whatsapp-button > a > img {
    height: 60px;
    width: 60px;
  }

  .about-me-content {
    flex-direction: column;
    margin: auto;
  }

  .about-me-content img {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .about-me-content p {
    line-height: 1.4rem;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 20px;
    text-align: justify;
    margin-left: 30px;
  }

  .skill-content {
    grid-template-columns: repeat(2, 1fr); /* 4 colunas de tamanho igual */
    grid-template-rows: repeat(2, auto); /* 4 linhas automáticas */
    gap: 15px;
    margin: 0;
  }

  .skill-item {
    padding: 0;
    width: 100%;
    height: 300px;
  }

  .skill-content .skill-item:last-child {
    margin-bottom: 15px;
  }
  .skill-item p {
    font-size: 0.875rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .skill-content .skill-item > img {
    width: 150px;
    height: 150px;
  }

  /* projetos */
  .projects-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .projects-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .projects-content .projects-item:nth-child(2n) {
    text-align: center;
  }
  .projects-content .projects-item:nth-child(2n) > img {
    order: 0;
  }

  .projects-content .projects-item:nth-child(2n) > p {
    order: 0;
  }

  .projects-item > img {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .project-text {
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .projects-item p {
    line-height: 1.25rem;
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: justify;
  }

  .projects-item h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  /* footer */

  .footer-container {
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }

  .footer-container .logo img {
    width: 300px; /* Define a largura da logo */
    margin-left: 0;
    margin-bottom: 45px;
  }

  /* icons  */
  .icons-footer {
    margin-bottom: 20px;
  }
  .icons-footer li {
    margin: 0 20px;
  }
  .icons-footer li a {
    text-decoration: none;
  }
  .icons-footer li a .fa-brands {
    font-size: 3.5em;
  }
  .icons-footer li a::before {
    font-size: 3.5em;
  }

  .footer-container p {
    margin-top: 20px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
  }
  /* ultidades */
  .section-title {
    font-size: 2rem;
  }

  .section-content {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .fixed-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fixed-header > ul {
    display: none;
  }

  .fixed-header .logo img {
    margin-left: 0;
  }
  .showcase-container {
    display: flex;
    flex-direction: column;
  }
  .showcase-container-box > h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .showcase-container p {
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
    margin-top: 40px;
  }

  .about-me-content {
    flex-direction: column;
  }

  .about-me-content img {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .about-me-content p {
    line-height: 1.4rem;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 20px;
    text-align: justify;
    margin-left: 0;
  }

  .skill-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
  }

  .skill-item {
    padding: 0;
    width: 100%;
    height: 300px;
  }

  .skill-content .skill-item:last-child {
    margin-bottom: 15px;
  }
  .skill-item p {
    font-size: 0.875rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .skill-content .skill-item > img {
    width: 150px;
    height: 150px;
  }

  /* projetos */
  .projects-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .projects-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .projects-content .projects-item:nth-child(2n) {
    text-align: center;
  }
  .projects-content .projects-item:nth-child(2n) > img {
    order: 0;
  }

  .projects-content .projects-item:nth-child(2n) > p {
    order: 0;
  }

  .projects-item > img {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .project-text {
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .projects-item p {
    line-height: 1.25rem;
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: justify;
  }

  .projects-item h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  /* footer */

  .footer-container {
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }

  .footer-container .logo img {
    width: 250px; /* Define a largura da logo */
    margin-left: 0;
    margin-bottom: 45px;
  }

  /* icons  */
  .icons-footer {
    margin-bottom: 20px;
  }
  .icons-footer li {
    margin: 0 20px;
  }
  .icons-footer li a {
    text-decoration: none;
  }
  .icons-footer li a .fa-brands {
    font-size: 2.75em;
  }
  .icons-footer li a::before {
    font-size: 2.75em;
  }

  .footer-container p {
    margin-top: 20px;
    font-size: 0.55rem;
    align-items: center;
    justify-content: center;
  }
  /* ultidades */
  .section-title {
    font-size: 2rem;
  }

  .section-content {
    padding: 30px;
  }
}
