.footer-container {
  width: 100%;
  background-color: black;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: space-between;
  padding: 80px;
  align-items: center;
}

.footer-container .logo img {
  width: 200px; /* Define a largura da logo */
  height: auto; /* Mantém a proporção original */
  max-width: 100%; /* Garante que a logo não ultrapasse o contêiner */
  margin-left: 120px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.footer-container .logo img:hover {
  content: url(./assets/svg/logo-white.svg);
  transform: scale(1.05);
}

.footer-container .social-items i {
  margin-right: 25px;
  color: rgba(255, 255, 255, 0.75);
  transition: transform 0.3s ease, color 0.3s ease; /* Transição suave de 0.3s */
}

.footer-container .social-items i:hover {
  cursor: pointer;
  transform: scale(1.2); /* Aumenta o tamanho do ícone */
  color: #ffffff; /* Troca a cor do ícone */
}

/* icons  */
.icons-footer {
  position: relative;
  display: flex;
}
.icons-footer li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.icons-footer li a {
  text-decoration: none;
}
.icons-footer li a .fa-brands {
  font-size: 6em;
  color: #222;
}
.icons-footer li a::before {
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.icons-footer li:nth-child(1) a::before {
  content: '\f16d';
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
.icons-footer li:nth-child(2) a::before {
  content: '\f232';
  color: #25d366;
  border-bottom: 4px solid #25d366;
}
.icons-footer li:nth-child(3) a::before {
  content: '\f09b';
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}
.icons-footer li:nth-child(4) a::before {
  content: '\f08c';
  color: #275fda;
  border-bottom: 4px solid #275fda;
}

.icons-footer li:hover a::before {
  height: 100%;
}
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }

  .footer-container .logo img {
    width: 300px; /* Define a largura da logo */
    margin-left: 0;
    margin-bottom: 45px;
  }

  /* icons  */
  .icons-footer {
    margin-bottom: 20px;
  }
  .icons-footer li {
    margin: 0 20px;
  }
  .icons-footer li a {
    text-decoration: none;
  }
  .icons-footer li a .fa-brands {
    font-size: 3.5em;
  }
  .icons-footer li a::before {
    font-size: 3.5em;
  }

  .footer-container p {
    margin-top: 20px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }

  .footer-container .logo img {
    width: 250px; /* Define a largura da logo */
    margin-left: 0;
    margin-bottom: 45px;
  }

  /* icons  */
  .icons-footer {
    margin-bottom: 20px;
  }
  .icons-footer li {
    margin: 0 20px;
  }
  .icons-footer li a {
    text-decoration: none;
  }
  .icons-footer li a .fa-brands {
    font-size: 2.75em;
  }
  .icons-footer li a::before {
    font-size: 2.75em;
  }

  .footer-container p {
    margin-top: 20px;
    font-size: 0.55rem;
    align-items: center;
    justify-content: center;
  }
}
