@media (max-width: 768px) {
  .fixed-header {
    display: none;
  }

  .showcase-container {
    display: flex;
    flex-direction: column;
  }
  .showcase-container-box > h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .showcase-container p {
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
    margin-top: 40px;
  }

  .about-me-content {
    flex-direction: column;
  }

  .about-me-content img {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .about-me-content p {
    line-height: 1.4rem;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 20px;
  }

  .skill-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
  }

  .skill-item {
    padding: 0;
    width: 100%;
    height: 300px;
  }

  .skill-content .skill-item:last-child {
    margin-bottom: 15px;
  }
  .skill-item p {
    font-size: 0.875rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .skill-content .skill-item > img {
    width: 150px;
    height: 150px;
  }

  /* projetos */
  .projects-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .projects-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .projects-content .projects-item:nth-child(2n) {
    text-align: center;
  }
  .projects-content .projects-item:nth-child(2n) > img {
    order: 0;
  }

  .projects-content .projects-item:nth-child(2n) > p {
    order: 0;
  }

  .projects-item > img {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .project-text {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .projects-item p {
    line-height: 1.25rem;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .projects-item h3 {
    font-size: 1.5rem;
    margin-bottom: 45px;
  }

  /* footer */

  .footer-container {
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }

  .footer-container .logo img {
    width: 250px; /* Define a largura da logo */
    margin-left: 0;
    margin-bottom: 45px;
  }

  /* icons  */
  .icons-footer {
    margin-bottom: 20px;
  }
  .icons-footer li {
    margin: 0 20px;
  }
  .icons-footer li a {
    text-decoration: none;
  }
  .icons-footer li a .fa-brands {
    font-size: 2.75em;
  }
  .icons-footer li a::before {
    font-size: 2.75em;
  }

  .footer-container p {
    margin-top: 20px;
    font-size: 0.55rem;
    align-items: center;
    justify-content: center;
  }
  /* ultidades */
  .section-title {
    font-size: 2rem;
  }

  .section-content {
    padding: 30px;
  }
}
