* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
}

/* navbar */
.fixed-header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 10px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 4px 2px -2px gray; /* Adiciona uma sombra para destaque */
}
.border {
  position: absolute; /* Define a posição absoluta */
  bottom: 0; /* Alinha a borda com a parte inferior da header */
  left: 0; /* Encosta a borda no lado esquerdo da tela */
  height: 3.5px; /* Espessura da borda */
  background-color: #653fff;
  width: 0;
  transition: width 0.5s;
}

.fixed-header .logo img {
  width: 200px; /* Define a largura da logo */
  height: auto; /* Mantém a proporção original */
  max-width: 100%; /* Garante que a logo não ultrapasse o contêiner */
  margin-left: 195px;
}

.fixed-header > ul {
  display: flex;
  list-style: none;
}
.fixed-header > ul > li {
  position: relative; /* Necessário para o uso do ::after */
  text-transform: uppercase;
  margin-right: 40px;
  color: #000000;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1rem;
  opacity: 65%;
  transition: opacity 0.3s;
}

.fixed-header > ul > li::after {
  content: ''; /* Adiciona um elemento vazio */
  position: absolute;
  bottom: -5px; /* Ajuste conforme o espaço abaixo do texto */
  left: 0;
  width: 0; /* Inicialmente, a borda é invisível */
  height: 2px; /* Espessura da borda */
  background-color: #3a0764; /* Cor da borda */
  transition: width 0.3s ease; /* Suaviza o crescimento */
}

.fixed-header > ul > li:hover {
  opacity: 100%;
  color: #3a0764;
  cursor: pointer;
}

.fixed-header > ul > li:hover::after {
  width: 90%; /* Faz a borda crescer para o tamanho total do texto */
}

/* showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: url(./images/bg-dark.jpg);
  background-size: cover;

  /* Overlay */
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
}

.showcase-container-box > h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  width: 300px;
  margin-right: 350px;
}
.showcase-container-box > h1 > strong {
  font-family: 'Inter', serif;
  font-weight: 800;
  border-bottom: 2.5px solid transparent;
  border-image: linear-gradient(90deg, #a755f7, #fd69ba) 1;
}
.span-title {
  background: linear-gradient(90deg, #a755f7, #fd69ba); /* Gradiente */
  -webkit-background-clip: text; /* Para aplicar o gradiente no texto */
  color: transparent;
}
.showcase-container p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 8px 8px 8px;
  letter-spacing: 0.15rem;
}

/* sobre mim */
.about-me-content {
  display: flex;
  align-items: center;
}

.about-me-content img {
  width: 320px;
  height: 320px;
  margin-left: 60px;
  margin-right: 60px;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.about-me-content p {
  color: #0f0f0f;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.15rem;
  margin-right: 50px;
}

/* habilidades */
.skill-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
  grid-template-rows: repeat(4, auto); /* 4 linhas automáticas */
  gap: 15px;
  margin-left: 50px;
}

.skill-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 360px;
  width: 90%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.skill-item h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill-item p {
  color: rgb(15, 15, 15);
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.875rem;
}

.skill-content > .skill-item > img {
  width: 200px;
  height: 200px;
}

/* utilities */
.section-container {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 160px;
}

.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: #0c0038;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1.5px solid #0c0038;
  line-height: 2.5rem;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 100px;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #efeef0;
}
