* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
}

a {
  text-decoration: none;
}

/* navbar */
.fixed-header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 10px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 4px 2px -2px gray; /* Adiciona uma sombra para destaque */
}
.border {
  position: absolute; /* Define a posição absoluta */
  bottom: 0; /* Alinha a borda com a parte inferior da header */
  left: 0; /* Encosta a borda no lado esquerdo da tela */
  height: 3.5px; /* Espessura da borda */
  background-color: #653fff;
  width: 0;
  transition: width 0.5s;
}

.fixed-header .logo img {
  width: 200px; /* Define a largura da logo */
  height: auto; /* Mantém a proporção original */
  max-width: 100%; /* Garante que a logo não ultrapasse o contêiner */
  margin-left: 195px;
}

.fixed-header > ul {
  display: flex;
  list-style: none;
}
.fixed-header > ul > li {
  position: relative; /* Necessário para o uso do ::after */
  text-transform: uppercase;
  margin-right: 40px;
  color: #000000;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1rem;
  opacity: 65%;
  transition: opacity 0.3s;
}

.fixed-header > ul > li::after {
  content: ''; /* Adiciona um elemento vazio */
  position: absolute;
  bottom: -5px; /* Ajuste conforme o espaço abaixo do texto */
  left: 0;
  width: 0; /* Inicialmente, a borda é invisível */
  height: 2px; /* Espessura da borda */
  background-color: #3a0764; /* Cor da borda */
  transition: width 0.3s ease; /* Suaviza o crescimento */
}

.fixed-header > ul > li:hover {
  opacity: 100%;
  color: #3a0764;
  cursor: pointer;
}

.fixed-header > ul > li:hover::after {
  width: 90%; /* Faz a borda crescer para o tamanho total do texto */
}

/* showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: url(./images/bg-dark.jpg);
  background-size: cover;
  background-position: center;

  /* Overlay */
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
}

.showcase-container-box > h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  width: 300px;
  margin-right: 350px;
}
.showcase-container-box > h1 > strong {
  font-family: 'Inter', serif;
  font-weight: 800;
  border-bottom: 2.5px solid transparent;
  border-image: linear-gradient(90deg, #a755f7, #fd69ba) 1;
}
.span-title {
  background: linear-gradient(90deg, #a755f7, #fd69ba); /* Gradiente */
  -webkit-background-clip: text; /* Para aplicar o gradiente no texto */
  color: transparent;
}
.showcase-container p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 8px 8px 8px;
  letter-spacing: 0.15rem;
}

/* sobre mim */
.about-me-content {
  display: flex;
  align-items: center;
}

.about-me-content img {
  width: 320px;
  height: 320px;
  margin-left: 60px;
  margin-right: 60px;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.about-me-content p {
  color: #0f0f0f;
  font-weight: 400;
  line-height: 1.75rem;
  font-size: 1.15rem;
  max-width: 800px;
}

/* habilidades */
.skill-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
  grid-template-rows: repeat(4, auto); /* 4 linhas automáticas */
  gap: 15px;
  margin-left: 50px;
}

.skill-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 360px;
  width: 90%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.skill-item h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill-item p {
  color: rgb(15, 15, 15);
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.875rem;
}

.skill-content .skill-item > img {
  width: 200px;
  height: 200px;
}

/* projetos */

.projects-content {
  margin-top: 120px;
}

.projects-item {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

/* deixando de forma alternada os projetos */
.projects-content .projects-item:nth-child(2n) {
  text-align: right;
}
.projects-content .projects-item:nth-child(2n) > img {
  order: 2;
}

.projects-content .projects-item:nth-child(2n) > p {
  order: 1;
}

.projects-item > img {
  width: 40%;
  height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 60px;
}

.project-text {
  margin-left: 60px;
  max-width: 600px;
}

.projects-item p {
  color: #ffffff;
  opacity: 75%;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

.projects-item h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 45px;
}
/* formulário */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #653fff;
}

/* Estilo dos campos de entrada */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Hover e focus */
.input-field:hover,
.input-field:focus {
  outline: 0.5px solid #021595;
  box-shadow: 0 0 5px rgba(135, 206, 250, 0.5);
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.mensagem {
  margin-top: 20px;
}

/* footer */

.footer-container {
  width: 100%;
  background-color: #002d62;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.footer-container img {
  width: 200px; /* Define a largura da logo */
  height: auto; /* Mantém a proporção original */
  max-width: 100%; /* Garante que a logo não ultrapasse o contêiner */
  margin-left: 195px;
}
.footer-container .social-items i {
  margin-right: 25px;
  color: rgba(255, 255, 255, 0.75);
  transition: transform 0.3s ease, color 0.3s ease; /* Transição suave de 0.3s */
}

.footer-container .social-items i:hover {
  cursor: pointer;
  transform: scale(1.2); /* Aumenta o tamanho do ícone */
  color: #ffffff; /* Troca a cor do ícone */
}
/* utilities */

.section-container {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 160px;
}

.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: #0c0038;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1.5px solid #0c0038;
  line-height: 2.5rem;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 100px;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #efeef0;
}

.bg-projects {
  background: linear-gradient(135deg, #32234c 0%, #0a1a36 50%, #000000 100%);
}

.color-white {
  color: #ffffff;
  border-bottom: 1.5px solid #ffffff;
}

.tag-a-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  background-color: #9233ea;
  padding: 10px 45px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}
.tag-a-button:hover {
  color: #ffffff;
  background-color: #7d22ce;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #9233ea;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.button:hover {
  color: #ffffff;
  background-color: #7d22ce;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}
